.mainImg {
    position: relative;
    z-index: 1;
    
    height: 100vh;
}

.back {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 60px;
}

.img {
    object-fit: fill;
    width: 100%;
}
