.mainDiv {
    position: relative;
    z-index: 1;
    width: 850px;
    height: 1250px;
}

.back {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 60px;
}

.img {
    object-fit: cover;
    width: 100%;
}
