.mainImg {
    position: relative;
    z-index: 1;
    width: 1200px;
    height: 100vh;
}

.back {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 75px;
}

.img {
    object-fit: fill;
    width: 70%;
}
