.root {
    width: 850px;
    height: 1250px;
}

.home {
    position: relative;
    z-index: 1;
    width: 850px;
    height: 1250px;
    overflow: hidden;
}

.img_background {
    width: 100%;
    height: 100%;
}

.img {
    width: 10%;
    height: 10%;
}

.btn1 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 625px;
    left: 80px;
}

.btn2 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 625px;
    left: 270px;
}

.btn3 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 625px;
    left: 460px;
}

.btn4 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 625px;
    left: 650px;
}

.btn5 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 1090px;
    left: 170px;
}

.btn6 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 1090px;
    left: 360px;
}

.btn7 {
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 1090px;
    left: 550px;
}

.bottle12 {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 93px;
}

.bottle15 {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 283px;
}

.bottle18 {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 473px;
}

.bottle21 {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 663px;
}

.bottle28 {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 710px;
    left: 185px;
}

.bottle29 {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 710px;
    left: 375px;
}

.bottleportwood {
    width: 90px;
    position: absolute;
    z-index: 2;
    top: 710px;
    left: 565px;
}